@mixin valign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button {
  width: 300px;
  background: darkgreen;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  cursor:pointer;
  position: relative;


  &:hover {
    background: green;
  }

  &.disabled, &.disabled:hover {
    background-color: #999999 !important;
    cursor: default !important;
  }

  .fa {
    float: left;
    margin-top: 2px;
  }

}

@mixin deny-select {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select:  none;
}


* {
  box-sizing: border-box;
}

.game-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #f2dfff;
  font-family: Arial;


  .error-wrapper {
    position: absolute;
    z-index: 1000;
    top:0px;
    left: 0px;
    width:100%;

    .message {
      margin: 10px 10px 0px 10px;

      background: lightgreen;
      padding: 10px 40px 10px 10px;
      border-radius: 6px;
      border: green 1px solid;
      position: relative;
      cursor: pointer;

      &.error-message {
        border-color: darkred;
        background-color: lightcoral;
      }
    }
  }

  .center-block {
    display: inline-block;
    padding: 30px;
    background: white;
    box-shadow: #ccc 2px 1px;
    @include valign;

    input[type=text] {
      width: 300px;
      padding: 20px;
      font-size: 25px;
      margin-bottom: 20px;
      border: grey 1px solid;
    }

    div {
      margin: 5px 0px;
    }

    div.button {
      @include button;

    }

    .copy-widget {
      input {
        width: calc( 100% - 60px);
        font-size: 14px;
        padding: 5px;
      }
      .copy-button {
        width: 50px;
        margin-left: 5px;
        color: blue;
        float: right;
        cursor: pointer;
      }
    }


    .card {
      margin: auto;
      float: none;
      &:hover {
        border-width: 1px;
      }
    }
  }

  .play-area-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    height: 70vh;

    .choose-first-card {
      .choose-color, .choose-number {
        text-align: center;

        .color-button, .number-button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: inline-block;
          margin: 4px;
          text-align: center;
          position: relative;

          &:before {
            position: absolute;
            width: 34px;
            height: 34px;
            top: -3px;
            left: -3px;
            border-radius: 50%;
            content: '';
            border: black 1px solid;
            display: none;
          }

          &:hover,&.selected {
            &:before {
              display: block;
            }
          }
        }

        .number-button {
          border: black 1px solid;
          padding-top: 5px;
          &:before {
            top: -4px;
            left: -4px;
          }
        }
      }

      .confirm-button {
        @include button;


      }

    }
  }


  .play-area {

    position: relative;
    width: 100%;
    height: 100%;
    .card {
      position: absolute;

      &.card-color-red {
        left: 30px;
      }
      &.card-color-green {
        left: 180px;
      }
      &.card-color-black {
        left: 330px;
      }

      &.card-color-blue {
        left: 480px;
      }
      &.card-color-orange {
        left: 630px;
      }
    }
  }

  .hand-area {
    border-top: 1px solid #ccc;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 30vh;
    background: rgba(0,0,0,.2);
    padding: 20px;

    .hand-buttons {
      position: absolute;
      bottom: 30vh;
      width: 100%;
      left: 0px;
      padding: 0px 0px 5px 0px;
      text-align: center;

      .button {
        @include button;

        display: inline-block;
        margin: 0px 5px;
        width: 150px;
        font-size: 22px;
        padding: 9px;

        &.pass-button {
          background: darkred;
          &:hover {
            background: red;
          }
        }
      }
    }
  }

  .card {
    width: 90px;
    height: 140px;
    padding: 5px;
    background: white;
    border-radius: 10px;
    border: black 1px solid;
    float: left;
    position: relative;


    margin-right: -60px;

    &.selected {
      margin-top: -18px;
    }

    &:hover  {
      border-width: 2px;
    }

    &.card-color-red {
      color: red;
    }
    &.card-color-green {
      color: green;
    }
    &.card-color-blue {
      color: blue;
    }
    &.card-color-orange {
      color: orange;
    }

    &.stem {
      transform: rotate(90deg);
    }

    .card-number {
      font-weight: bold;
      &.top-left {

      }
      &.bottom-right {
        transform: rotate(180);
        position: absolute;
        right: 8px;
        bottom: 8px;
      }

    }
  }

  .player-wrapper {
    border: #ccc 1px solid;
    border-radius: 6px;
    background: lightskyblue;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px;
    h2 {
      font-size: 12px;
      text-align: center;
      font-weight: bold;
    }
    ul {
      padding: 0px 6px;
      margin:0px;
      list-style: none;
    }
  }
  .show-score {
    .score-result {
      width: 300px;
      .score-line {
        justify-content: space-between;
        display: flex;

        &.header {
          font-weight: bold;
        }
        .player {
          width: 60%;
          .icon {
            float: left;
            margin: 1px 5px 0px 5px;
          }
        }
        .score, .total {
          text-align: center;
          width: 19%;
        }
      }
    }
  }
}