

.hand-area {
  z-index: 7;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 8rem;
  padding: 0px;
  overflow-x: scroll;

  .card-slider {
    .end-spacer {
      display: block;
      position: absolute;
      top:0px;
      left: 0px;
      width: 250px;
      height: 50px;
    }
    position: relative;
    padding: 0px 20px 0px;
    overflow-y: hidden;
    height: 100%;
    .card {
      position: absolute;
      top: 30px;
    }
  }
  &.disabled {
    .card-slider {
      .card {
        color: #ccc;
      }

      .card-color-red {
        color: lightcoral;
      }

      .card-color-green {
        color: lightgreen;
      }

      .card-color-blue {
        color: lightblue;
      }
      .card-color-orange {
        color: #fed8b1;
      }
      .card-color-black {
        color: #333;
      }

    }

  }
}



.hand-buttons {
  //position: absolute;
  //z-index: 10;
  //bottom: 0px;
  //width: 100%;
  //left: 0px;
  width: 0px;
  height: 0px;

  .button {
    @include button;

    display: inline-block;
    margin: 0px;
    width: 150px;
    font-size: 1.5em;
    position: fixed;
    right: .5rem;
    bottom: 5rem;
    z-index: 8;
    padding: .6rem .6rem .6rem 3.2rem;

      .fa {
        font-size: 1em;
        padding-top: .4em;
    }

    &.pass-button {

      left: auto;
      right: .5rem;
      bottom: .2em;
      background: darkred;
      &:hover {
        background: red;
      }
      &.disabled {
        cursor: default;
        background: #cccccc;
      }
    }
  }
}